{% extends 'layout.html' %}


{% block stylesheet %}

{% endblock stylesheet %}


{% block header %}
<h1 class="text-center w-75 m-auto mb-3 py-2 px-4 bg-dark text-light rounded">{{title}}</h1>
{% endblock header %}


{% block content %}

{% endblock content %}



{% comment %}
Contacto:
Proporciona información de contacto para que los usuarios puedan comunicarse
contigo en caso de tener preguntas, sugerencias o comentarios sobre el sitio.

Si deseas combinar la sección de contacto con información personal en una especie de "Acerca de mí y Contacto", aquí
tienes algunas sugerencias sobre qué información podrías incluir:

Breve Biografía Personal: Comienza la sección proporcionando una breve biografía sobre ti. Puedes compartir tus
antecedentes educativos, experiencia laboral relevante y cualquier otro detalle que consideres importante para
establecer tu credibilidad y conexión con los usuarios.

Motivaciones y Objetivos: Comparte tus motivaciones para crear la página de resúmenes y tus objetivos con respecto al
sitio. Esto puede ayudar a los usuarios a comprender mejor tu pasión por el tema y qué los impulsó a crear la
plataforma.

Intereses y Pasatiempos: Si lo deseas, puedes incluir información sobre tus intereses y pasatiempos fuera del ámbito de
los resúmenes. Esto ayuda a humanizar tu perfil y permite que los usuarios te conozcan mejor como persona.

Datos de Contacto: Proporciona información de contacto, como tu dirección de correo electrónico o un formulario de
contacto, para que los usuarios puedan comunicarse contigo directamente. Asegúrate de indicar claramente cómo prefieres
ser contactado y cuál es el propósito adecuado para cada método de contacto.

Redes Sociales: Si tienes perfiles en redes sociales relacionados con tu sitio o tu interés en los resúmenes, puedes
incluir enlaces a estas cuentas para que los usuarios puedan seguirte y mantenerse al tanto de las actualizaciones.

Política de Privacidad: Si manejas datos personales de los usuarios a través del formulario de contacto u otros medios,
es importante incluir una breve descripción de tu política de privacidad para garantizar la transparencia y la confianza
del usuario.

Recuerda que la clave es encontrar un equilibrio entre compartir información personal relevante y mantener un enfoque
profesional en tu sitio web. La sección de "Acerca de mí y Contacto" debería permitir a los usuarios conocerte mejor
como persona, al mismo tiempo que proporciona una forma fácil y clara de ponerse en contacto contigo si es necesario.
{% endcomment %}