{% extends 'layout.html' %}
{% block stylesheet %}
<style>
    div {
        width: 93%;
        margin: auto;
    }
    p {
        font-size: 1.15em;
        padding: 12px;
        letter-spacing: 1.4px;
        line-height: 1.6em;
    }
    .container-password-reset {
        box-shadow: 0 0 18px 6px #222831;
        border: solid 1px #ffffff98;
        min-height: 460px;
    }
</style>
{% endblock stylesheet %}


{% block header %}
<h1 class="text-light text-center w-75 mx-auto my-0 p-2 bg-dark rounded">{{title}}</h1>
{% endblock header %}


{% block content %}

<div class="container-password-reset bg-dark rounded my-4 p-4">

    {% if form %}
    <h2 class="text-light my-3">¿Olvidaste tu contraseña?</h2>

    <h5 class="text-light mt-1 mb-5">
        {% if site == "password_reset" %}
        Ingrese su correo electrónico para recibir instrucciones y recuperar su cuenta.
        {% elif site == "password_reset_confirm" %}
        Ingrese su nueva contraseña y su verificación para finalizar y recuperar su cuenta.
        {% endif %}
    </h5>

    <form action="" class="text-center my-3" method="POST">
        {% csrf_token %}
        {% if site == "password_reset" %}
        {% comment %}VERIFICACION DE CORREO ELECTRONICO E INICIO PARA EL RESTABLECIMIENTO{% endcomment %}
        <div class="form-floating my-4">
            <input type="email" autofocus placeholder="" class="form-control" name="email" autocomplete="email"
                maxlength="254" required id="id_email">
            {{form.email.label_tag}}
        </div>

        <input type="submit" value="Restablecer mi contraseña" class="my-3 py-2 btn btn-danger">

        {% elif site == "password_reset_confirm" %}{% if validlink %}
        {% comment %}RESTABLECIMIENTO DE CONTRASEÑA{% endcomment %}
        <div class="form-floating my-4">
            <input type="password" autofocus placeholder="" class="form-control" name="new_password1" autocomplete="off"
                maxlength="254" required id="id_new_password1">
            {{form.new_password1.label_tag}}
            <span class="small text-danger"> {{form.new_password1.errors}} </span>
        </div>

        <div class="form-floating my-4">
            <input type="password" autofocus placeholder="" class="form-control" name="new_password2" autocomplete="off"
                maxlength="254" required id="id_new_password2">
            {{form.new_password2.label_tag}}
            <span class="small text-danger"> {{form.new_password2.errors}} </span>
        </div>

        <input type="submit" value="Cambiar mi contraseña" class="my-3 py-2 btn btn-primary">

        {% else %}
        {% comment %}SI EL USUARIO INTENTA ACCEDER NUEVAMENTE AL CORREO:{% endcomment %}
        <p class="text-light">Su enlace para restablecer la contraseña no es válido, posiblemente ya fue utilizado.
            Solicite un nuevo restablecimiento de contraseña.</p>
        {% endif %}{% endif %}


    </form>

    {% endif %}




    {% comment %}
    "customMessages" se recibe de las vistas:
    __CustomPasswordResetConfirm (PasswordResetConfirmView)
    __CustomPasswordResetComplete(PasswordResetCompleteView)
    Ya que solamente son mensages...
    {% endcomment %}

    {% if customMessages %}
    <h2 class="text-light my-3">Estado de su solicitud</h2>

    {% for message in customMessages %}
    <p class="text-light">{{message}}</p>
    {% endfor %}

    {% endif %}



</div>

{% endblock content %}