{% extends 'layout.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'study_hub/styles.css' %}"> {% endblock stylesheet %}

{% block header %}
<h1 class="text-center w-75 m-auto mb-3 py-2 px-4 bg-dark text-light rounded">
  {{title}}
</h1>

<div class="container d-flex justify-content-between mb-3">

  {% if not is_new %}
  <a class="custom-link text-light icon-link icon-link-hover link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
    style="--bs-icon-link-transform: translate3d(-.2rem, 0 , 0);" href="javascript:history.back()">
    <img class="bi" alt="arrow-back" aria-hidden="true" src="{%static '/images/arrow_back.svg'%}">
    Volver
  </a>
  {% endif %}


  <a class="custom-link text-light link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
    href="{% url 'apuntes:publications' subject=title id=id %}">
    Lista de publicaciones
  </a>
</div>
{% endblock header %}


{% block content %}

<div style="width: 96.5%; overflow-x: scroll; hyphens: auto;"
  class="bg-light text-break shadow rounded mb-2 mx-auto py-4 {% if delete %}bg-danger-subtle{% endif %}">

  {% if form %}
  {% include 'partials/publication_form.html' %}
  {% else %}
  {% if delete %}
  <form action="" method="post" class="container w-75 text-center mt-2 mb-3 p-3 ">
    {% csrf_token %}
    <p class="text-danger fw-medium fs-4">¿Seguro que desea eliminar la publicación?</p>
    <div class="container my-3">
      <a href="{% url 'apuntes:publication_detail' subject=title id=id pk=publication.pk %}"
        class="btn btn-secondary">Cancelar</a>
      <input type="submit" value="Eliminar" class="ms-2 btn btn-danger">
    </div>

    <small class="text-danger">No podras recuperarla</small>
  </form>
  {% endif %}

  <div class="publication_header container-fluid">
    <h2 class="fs-2 rounded" id="id_title">{{ publication.title }}</h2>
  </div>

  <div class="publication_content px-4 my-4">
    {{ publication.content|safe }}
  </div>
  <!-- footer with info -->
  <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
    <img id="avatar_img" src="{{ publication.author.Profile.avatar.url }}" class="rounded-circle"
      style="width: 78px;height:78px; object-fit:contain; background-color: #1e2e33;" alt="author">
    <div class="text-secondary">
      <p class="small m-auto">
        <strong>Autor:</strong>
        {{ publication.author.first_name }} {{ publication.author.last_name }}
      </p>
      <p class="small m-auto">
        <strong>Fecha:</strong>
        {{ publication.publication_date }}
      </p>
    </div>
  </div>
  {% endif %}


</div>

{% if form == null and publication.author == user %}
<div class="container d-flex my-3 align-items-middle justify-content-between">
  <a class="btn edit fw-medium" style="color:#293A80"
    href="{% url 'apuntes:publication_update' subject=title id=id pk=publication.id %}">
    <img class="bi" alt="icon-edit" aria-hidden="true" src="{%static '/images/edit.svg'%}">
    Editar
  </a>

  <a class="btn delete fw-medium text-danger"
    href="{% url 'apuntes:publication_delete' subject=title id=id pk=publication.id %}">
    <img class="bi" alt="icon-delete" aria-hidden="true" src="{%static '/images/delete.svg'%}">
    Borrar
  </a>
</div>

{% endif %}

<!-- COMMENTS -->
{% if not form and not delete %}
{% include 'partials/comments.html' %}
{% endif %}
{% endblock %}


{% block scripts %}
<script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
<!-- Custom config -->
<script>
  tinymce.init({
    selector: '#id_comment',
    plugins: 'autolink lists link charmap emoticons image media',
    toolbar: 'undo redo | forecolor backcolor  bold underline | alignleft aligncenter alignright | emoticons charmap | image media  link',
    language: "es",
    menubar: false,
    width: "90%",
    height: "220px",
    skin: "oxide-dark",
    content_css: "dark",
  });
</script>
{% endblock scripts %}