<div class="row w-100 m-0">
    <form action="" method="POST" class="text-center my-2 mx-auto col-12 col-md-6">
        {% csrf_token %}


    <h3 class="mb-4 rounded-4  p-2 bg-dark bg-gradient text-light">Datos Personales</h3>
    <div class="container mb-4">
        <div class="d-flex  justify-content-between">

            <div class="form-floating mb-2" style="width: 49%;">
                {{ form.first_name }}
                {{ form.first_name.label_tag }}
                <span class="small text-danger mt-1"> {{ form.first_name.errors }} </span>
            </div>

            <div class="form-floating" style="width: 49%;">
                {{ form.last_name }}
                {{ form.last_name.label_tag }}
                <span class="small text-danger mt-1"> {{ form.last_name.errors }} </span>
            </div>

        </div>

        <div class="form-floating mb-2">
            {{ form.email }}
            {{ form.email.label_tag }}
            <span class="small text-danger mt-1"> {{ form.email.errors }} </span>
        </div>
    </div>
    <hr>
    <h3  class="mb-4 rounded-4  p-2 bg-dark bg-gradient text-light">Datos de Ingreso</h3>
    <div class="container mb-4">
        <div class="form-floating">
            <input type="text" class="form-control mb-2 {% if form.username.errors %}is-invalid{% endif %}"
                maxlength="150" autocomplete="off" name="username" id="id_username" placeholder=""
                value="{% if form.instance.username %}{{ form.instance.username }}{% endif %}">
            {{form.username.label_tag}}
            <span class="small text-danger"> {{form.username.errors}} </span>
        </div>

        <div class="form-floating">
            <input type="password"
                class="form-control mb-2 {% if form.password1.errors or form.password2.errors %}is-invalid{% endif %}"
                name="password1" autocomplete="new-password" id="id_password1" placeholder="password">
            {{form.password1.label_tag}}
            <span class="small text-danger"> {{form.password1.errors}} </span>
        </div>

        <div class="form-floating">
            <input
                class="form-control mb-2 {% if form.password1.errors or form.password2.errors %}is-invalid{% endif %}"
                type="password" name="password2" autocomplete="new-password" id="id_password2" placeholder="password">
            {{form.password2.label_tag}}
            <span class="small text-danger"> {{form.password2.errors}} </span>
        </div>
    </div>
    <hr>

    <input type="submit" value="Registrarme" class="btn btn-success mt-2 px-3">


    <div class="container text-center mt-3">
        <a class="btn btn-primary px-3"
            href="{% url 'account:login' %}">
            Iniciar Sesión
        </a>
    </div>
</form>
</div>