{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Asistencias en {{ course.name }}</h2>
    <a href="{% url 'study_manager:absence_add' course.id %}" class="btn btn-primary mb-3">Agregar Asistencia</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Razón</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td>{{ absence.date }}</td>
                <td>{{ absence.reason }}</td>
                <td>
                    <a href="{% url 'study_manager:absence_delete' course.id absence.pk %}"
                        class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}