{% extends 'layout.html' %}

{% block header %}
<h1 class="text-center w-75 m-auto mb-3 py-2 px-4 bg-dark text-light rounded">
    {{title}}
</h1>
{% endblock header%}

{% block content %}
<div class="container w-75 mx-auto">
    <h4 class="px-1 mx-auto text-center" style="max-width: 450px;">
        ¿Estás seguro de que deseas eliminar la asistencia del {{ object.date }}?
    </h4>

    <form method="post">
        {% csrf_token %}

        <div class="container d-flex flex-column gap-2 align-items-center mt-4">
            <button type="submit" class="btn btn-danger" style="width: 200px;">Eliminar</button>
            <a href="{% url 'study_manager:absence_list' course.id %}" class="btn btn-secondary"
                style="width: 200px;">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}