{% extends 'layout.html' %}
{% load static %}


{% block header %}
<h1 class="text-center w-75 m-auto mb-3 py-2 px-4 bg-dark text-light rounded">
    {{title}}
</h1>


<div class="container d-flex justify-content-between flex-wrap gap-1">
    <a class="custom-link text-light icon-link icon-link-hover link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
        style="--bs-icon-link-transform: translate3d(-.2rem, 0 , 0);" href="javascript:history.back()">
        <img class="bi" alt="arrow-back" aria-hidden="true" src="{%static '/images/arrow_back.svg'%}">
        Volver
    </a>

    <a class="custom-link text-light icon-link link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'study_manager:course_add' %}">

        <img class="bi fs-4" alt="add-icon" aria-hidden="true" src="{%static '/images/add.svg'%}">
        Agregar Curso
    </a>
</div>

{% endblock header %}



{% block content %}
<div class="container my-2">
    <h2 class="mb-4">Administración de cursos</h2>

    <div class="table-responsive">

        <table class="table table-hover table-striped align-middle shadow-sm text-center">
            <thead>
                <tr class="table-dark">
                    <th>Nombre</th>
                    <th>Horario</th>
                    <th>Faltas</th>
                    <th>Exámenes</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.schedule }}</td>
                    <td>
                        <a href="{% url 'study_manager:absence_list' course.pk %}"
                            class="btn btn-warning btn-sm">Ver</a>
                    </td>
                    <td>
                        <a href="{% url 'study_manager:exam_list' course.pk %}"
                            class="btn btn-success btn-sm">Ver</a>
                    </td>
                    <td class="col-1">
                        <div class="d-flex justify-content-between gap-1">
                            <a style="text-decoration:none; pointer-events: all;" title="Editar Publicación"
                                href="{% url 'study_manager:course_edit' course.pk %}">
                                <img alt="edit-icon" src="{%static '/images/edit.svg'%}">
                            </a>
                            <a style="text-decoration:none; pointer-events: all;" title="Borrar Publicación"
                                href="{% url 'study_manager:course_delete' course.pk %}">
                                <img alt="delete-icon" src="{%static '/images/delete.svg'%}">
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock content %}