{% extends 'layout.html' %}

{% load static %}


{% block header %}
<h1 class="text-center w-75 m-auto mb-3 py-2 px-4 bg-dark text-light rounded">
    {{title}}
</h1>


<div class="container d-flex justify-content-between flex-wrap gap-1">
    <a class="custom-link text-light icon-link icon-link-hover link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
        style="--bs-icon-link-transform: translate3d(-.2rem, 0 , 0);" href="{% url 'study_manager:course_list' %}">
        <img class="bi" alt="arrow-back" aria-hidden="true" src="{%static '/images/arrow_back.svg'%}">
        Volver
    </a>

    <a class="custom-link text-light icon-link link-offset-3 link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{% url 'study_manager:exam_add' course.id %}">

        <img class="bi fs-4" alt="add-icon" aria-hidden="true" src="{%static '/images/add.svg'%}">
        Agendar Examen
    </a>
</div>

{% endblock header %}


{% block content %}
<div class="container my-2">
    <h2 class="mt-3 mb-4">
        Calificaciones pendientes:
        <span class="badge bg-success mb-1">
            {{pending_exams_count}}
        </span>
    </h2>

    <div class="table-responsive">
        <table class="table table-hover table-success table-striped align-middle shadow-sm">
            <thead>
                <tr class="table-dark">
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Nota</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                {% if exams %}
                {% for exam in exams %}
                <tr>
                    <td>{{ exam.date }}</td>
                    <td>
                        {% if exam.description %}
                        {{exam.description }}
                        {% else %}
                        -
                        {% endif %}
                    </td>

                    <td>
                        {% if exam.grade %}
                        {{ exam.grade}}
                        {% else %}
                        -
                        {% endif %}
                    </td>


                    <td class="col-1">
                        <div class="d-flex justify-content-between gap-1">
                            <a style="text-decoration:none; pointer-events: all;" title="Editar Publicación"
                                href="{% url 'study_manager:exam_update' course.id exam.pk %}">
                                <img alt="edit-icon" src="{%static '/images/edit.svg'%}">
                            </a>
                            <a style="text-decoration:none; pointer-events: all;" title="Borrar Publicación"
                                href="{% url 'study_manager:exam_delete' course.id exam.pk %}">
                                <img alt="delete-icon" src="{%static '/images/delete.svg'%}">
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No hay exámenes pendientes.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <a class="mt-5" href="{% url 'study_manager:absence_list' course.id %}">
        <span class="badge bg-warning p-2 text-dark fs-6">
            Ver Faltas
        </span>
    </a>
</div>
{% endblock %}