<form id="career_form" method="POST" action="{% if not update %} {% url 'apuntes:add_career' %} {% endif %}"
  class="d-flex flex-column mx-auto shadow-lg rounded py-3 px-4">
  {% csrf_token %}

  {% if not update %}
  <div class="d-flex justify-content-between align-items-center">
    <span class="fs-4 text-center">Agregar Carrera</span>
    <button id="close_modal" type="button" class="btn btn-danger py-1 shadow">X</button>
  </div>

  {% endif %}

  {{ careerForm.university }}
  {{ careerForm.title }}


  <div class="inputWithLabel d-flex justify-content-between align-items-center">
    <label for="{{ careerForm.number_of_subjects.id_for_label }}">{{careerForm.number_of_subjects.label }}:</label>
    {{ careerForm.number_of_subjects }}
  </div>

  <div>
    <div class="inputWithLabel d-flex justify-content-between align-items-center">
      <label for="{{ careerForm.duration.id_for_label }}">{{careerForm.duration.label }}:</label>
      {{ careerForm.duration }}
    </div>

    <span class="container-fluid text-center">
      <small class="text-body-tertiary">{{ careerForm.duration.help_text }}</small>
    </span>
  </div>
  <button type="submit" class="btn btn-primary mt-1">
    {% if update %} Actualizar {% else %} Agregar{% endif %}
  </button>

  
  {% if update %}
  <a href="{% url 'apuntes:hub' %}" class="btn btn-danger mb-2">Cancelar</a>
  {% endif %}
    
</form>