<div class="container d-flex align-items-center justify-content-between overflow-x-hidden">
    <div class="d-flex align-items-center gap-1">

        <div class="bg-danger bg-gradient p-2 rounded {% if not page_obj.has_previous %} opacity-50  {% endif %}">
            <a href="
            {% if page_obj.has_previous %}
            ?page=1
            {% else %}
            #
            {% endif %}
            " class="link-light px-2 text-decoration-none">
                &laquo;
            </a>
        </div>

        <div class="nowrap text-truncate bg-danger bg-gradient p-2 rounded {% if not page_obj.has_previous %} opacity-50  {% endif %}">
            <a href="
            {% if page_obj.has_previous %}
            ?page={{ page_obj.previous_page_number }}
            {% else %}
            #
            {% endif %}
            " class="link-light px-2 text-decoration-none">
                Anterior
            </a>
        </div>
    </div>

    <div class="bg-danger bg-gradient text-light p-2 rounded nowrap text-truncate">
        <span class="d-none d-md-inline"> Página</span> {{ page_obj.number }} de {{ paginator.num_pages }}
    </div>

    <div class="d-flex align-items-center gap-1">
        <div class="nowrap text-truncate bg-danger bg-gradient p-2 rounded {% if not page_obj.has_next %} opacity-50  {% endif %}">
            <a href="
            {% if page_obj.has_next %}
            ?page={{ page_obj.next_page_number }}
            {% else %}
            #
            {% endif %}
            " class="link-light px-2 text-decoration-none">
                Siguiente
            </a>
        </div>

        <div class="bg-danger bg-gradient p-2 rounded {% if not page_obj.has_next %} opacity-50  {% endif %}">
            <a href="
            {% if page_obj.has_next %}
            ?page={{ page_obj.paginator.num_pages }}
            {% else %}
            #
            {% endif %}
            " class="link-light px-2 text-decoration-none">
                &raquo;
            </a>
        </div>
    </div>
</div>