{% load static %}
<form method="POST" action="" style="width: 100%;height: auto;">
  {% csrf_token %}
  {{ form.media }}
  <input class="fs-2 fw-semibold px-2 my-2 rounded input_id_title" autocomplete="off" id="id_title" type="text"
    placeholder="Escriba su título principal..." name="title" maxlength="60"
    value="{% if form.instance.title %}{{ form.instance.title }}{% endif %}">
  {{form.title.errors}}

  <div class="publication_content px-2 my-2">
    {{form.content}}
    {{ form.content.errors }}
  </div>


  <div class="container d-flex justify-content-between text-center mx-auto gap-2 my-4" style="flex-wrap: wrap;">
    <div class="d-flex align-items-center gap-2">
      <label for="id_subject" class="text-end text-nowrap" style="width: 60px;">Materia:</label>
      <select name="subject" class="form-select-sm" style="width:200px;" id="id_subject">
        <option selected value="{{id}}">{{title}}</option>
      </select>
      {{form.subject.errors}}
    </div>

    <div class="d-flex align-items-center gap-2">
      <label for="id_author" class="text-end text-nowrap" style="width: 60px;">Autor:</label>
      <select name="author" class="form-select-sm" style="width:200px;" id="id_author">
        <option selected value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
      </select>
      {{form.author.errors}}
    </div>

    <div class="d-flex align-items-center gap-2" style="padding-left: calc(60px + .5rem);">
      <select name="isPrivate" id="id_isPrivate" class="form-select-sm" style="width:200px;">
        <option {% if not form.instance.isPrivate %} selected {% endif %} value="{{False}}">
          Público <img alt="public-icon" class="ms-1" src="{%static '/images/public.svg'%}">
        </option>

        <option {% if form.instance.isPrivate %} selected {% endif %} value="{{True}}">
          Privado <img alt="private-icon" class="ms-1" src="{%static '/images/private.svg'%}">
        </option>
      </select>
    </div>

  </div>

  <div class="text-center my-3">
    {% if form.instance.content %}
    <a class="btn btn-danger me-2" href="{% url 'apuntes:publication_detail' subject=title id=id pk=publication.pk %}">
      Cancelar
    </a>
    {% endif %}
    <input class="btn btn-primary" type="submit"
      value="{% if form.instance.content %}Actualizar{% else %}Publicar{% endif %}">
  </div>
</form>