* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
    background: rgba(var(--bs-dark-rgb));
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #F8F6F4;
    background-image: url("images/background-icon.webp");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    padding: 0 !important;
}

.image-logo {
    width: auto;
    height: 60px;
}

main {
    margin-bottom: 4rem;
}


.custom-link {
    text-transform: uppercase;
    background-color: #c0392b;
    padding: 8px 12px !important;
    height: 40px;
    font-size: 13px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 3px 8px 25px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}
.gohan-image{
    filter: drop-shadow(0 0 10px #c0392b);
}
.bi {
    width: auto !important;
    height: auto !important;
}
.nav-item {
    padding: 5px 10px;
}

#search {
    background: rgba(155, 155, 155, 0.281);
}

#search:focus {
    box-shadow: 0 0 3px 1px #ffffff;
}

.form-floating .form-control:hover{
    border: var(--bs-border-width) solid #ff1900; 
}

form .form-control:focus {
    border: var(--bs-border-width) solid #c0392b; 
    box-shadow: 0 0 10px 4px #c0392b;
}

@media (min-width:768px) {

    #dropdown-menu {
        position: absolute;
    }
}


/* ANIMATIONS */
/*from Animista */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

.animation-swing {
    -webkit-animation: swing-in-top-fwd .5s cubic-bezier(.175, .885, .32, 1.275);
    animation: swing-in-top-fwd .5s cubic-bezier(.175, .885, .32, 1.275)
}

#logout:hover {
    background-color: #462222;
}